@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  border-collapse: collapse;
}
body, :root {
  font: normal 14px "Proxima Nova", sans-serif;
  line-height: normal;
  padding: 0;

  /* Adjust font size */
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li {
  list-style: none;
}
input:focus {
  outline: none;
}
button {
  font-family: 'Proxima Nova',sans-serif;
}
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}